{{ define "main" }}

<div class="container my-12 py-12 mx-auto px-4 md:px-6 lg:px-12">
  
  <section class="mb-20 text-gray-800">
    <div class="block rounded-t-xl rounded-b-lg shadow-lg bg-white mb-6">
      <div class="border-b text-center px-6 py-4 bg-gray-50 rounded-t-lg">
        <h2 class="font-semibold text-2xl mb-4">{{ .Params.Title }}</h2>
      </div>
      <div class="p-6">
        <div class="flex flex-col">
          <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
              <div class="overflow-hidden">
                <table class="min-w-full">
                  <thead class="bg-white border-b">
                    <tr>
                      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Name</th>
                      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">URL</th>
                      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Start Date</th>
                      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Finish Date</th>
                      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Tools</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ range .Params.rows }}
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ .ID }}</td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ .Name }}</td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ .URL }}</td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ .StartDate }}</td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ .FinishDate }}</td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ .Tools }}</td>
                    </tr>
                    {{ end }}
                  </tbody>
                </table>
              </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
    
{{ end }}