<footer>
  <div class="grid gap-4 md:grid-cols-4">
    <ul class="space-y-1 text-gray-400">
      <li class="pb-4 font-serif text-gray-400">Find me on</li>
      {{ range .Site.Menus.social }}
      <li>
        <a href="{{ .URL }}" class="hover:underline">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    <ul class="space-y-1 text-gray-400">
      <li class="pb-4 font-serif text-gray-400">More</li>
      <li>
        <a href="#" class="hover:underline">About me</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Publications</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contact Information</a>
      </li>
    </ul>
    <ul class="space-y-1 text-gray-400">
      <li class="pb-4 font-serif text-gray-400">What am I currently working on?</li>
      <li>
        <a
          href="https://github.com/totallynotdavid"
          class="self-start px-3 py-2 leading-none text-gray-200 border border-gray-800 rounded-lg focus:outline-none focus:shadow-outline bg-gradient-to-b hover:from-indigo-500 from-gray-900 to-black"
          target="_blank"
        >
          Let's jump in
        </a>
      </li>
    </ul>
  </div>
  
</footer>
<div class="h-12"></div>