---
interface Props {
  href: string;
}
const { href } = Astro.props;
---

<a
  href={href}
  target='_blank'
  rel='noopener noreferrer'
  class='not-prose block pt-7 pb-3'
>
  <div
    class='flex items-center gap-2 rounded-lg border border-gray-200 px-4 py-2.5 text-sm leading-5 font-medium tracking-tight transition-all duration-100 ease-out hover:bg-gray-100 dark:border-gray-800 dark:bg-gray-900 dark:hover:bg-gray-800'
  >
    <div class='flex-1 text-gray-900 dark:text-gray-100'>
      <slot />
    </div>
    <div class='shrink-0 text-gray-500 dark:text-gray-400'>
      <svg
        width='14'
        height='14'
        viewBox='0 0 14 14'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          d='M10.6286 10.3714L10.6287 3.62874M10.6287 3.62874L3.88599 3.62871M10.6287 3.62874L2.5 11.5'
          stroke='currentColor'
        >
        </path>
      </svg>
    </div>
  </div>
</a>
