---

---

<div class='relative flex items-center pt-10 pb-8'>
  <div class='flex w-full justify-center'>
    <div class='flex gap-4'>
      <span class='block h-1 w-1 rounded-full bg-gray-300 dark:bg-gray-700'></span>
      <span class='block h-1 w-1 rounded-full bg-gray-300 dark:bg-gray-700'></span>
      <span class='block h-1 w-1 rounded-full bg-gray-300 dark:bg-gray-700'></span>
    </div>
  </div>
</div>
